#
# Config for Template-Service localdev
#
# If you make any changes to this file remember to run "./runLocal.sh refresh".
#
name=template-service
alias=template
jarToRun=$projectDir/template-service/template-service/target/template-service.jar
integrationTestsJar=$projectDir/template-service/template-service-integration-tests/target/template-service-integration-tests-*-jar-with-dependencies.jar
composeFile=$configDir/docker-compose.partial.yml
postgresInitScript=$configDir/postgresql-init-db-user.sh
