#
# Config for Template-Service localdev
#
# If you make any changes to this file remember to run "./runLocal.sh refresh".
#
alias=template
name=template-service
jarToRun=$projectDir/template-service/template-service/target/template-service.jar
composeFile=$configDir/docker-compose.partial.yml

# Optional postgres init script
postgresInitScript=$configDir/postgresql-init-db-user.sh

# Optional integration tests jar and properties
integrationTestsJar=$projectDir/template-service/template-service-integration-tests/target/template-service-integration-tests-*-jar-with-dependencies.jar
integrationTestsProperties=$projectDir/template-service/template-service-integration-tests/src/main/resources/integration-tests.properties
